<h1>Random Task Generator</h1>

<p>Your task is to complete the following by <%= @clock.clock %> at <%= @location.name %> while wearing <%= @outfit.name %>:</p>

<ul>
  <li><%= @task.name %></li>
</ul>

<p>After completing the task, please upload a report.</p>
